#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include "zmk-helpers/helper.h"

#define DEFAULT 0
#define BT_LAYER 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp  0    &kp  1    &kp  2    &kp 3
                &kp  4    &kp  5    &kp  6    &kp 7
                &kp  8    &kp  9    &kp  A    &kp B
                &kp  C    &kp  D    &kp  E   &lt BT_LAYER F
            >;
        };

	bluetooth_layer {
            bindings = <
	        &bt BT_CLR_ALL &bt BT_NXT    &bt BT_PRV    &bt BT_CLR
                &none          &none         &none         &out OUT_USB
                &bt BT_SEL 3   &bt BT_SEL 4  &none         &out OUT_BLE
                &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &none
            >;
	};
    };
 };
