#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "zmk-helpers/helper.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &kp Z    &kp M    &kp K    &kp Y
                &kp A    &kp B    &kp C    &kp S
                &kp D    &kp E    &kp F    &kp T
            >;
        };
    };
 };