if SHIELD_PACANE_LEFT

config ZMK_KEYBOARD_NAME
    default "Pacane"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PACANE_LEFT || SHIELD_PACANE_RIGHT

config ZMK_SPLIT
    default y

endif