#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp ESC    &kp 1    &kp 2    &kp 3     &kp 4     &kp 5  
    &kp ESC    &kp Q    &kp W    &kp E     &kp R     &kp T  
    &kp TAB    &kp A    &kp S    &kp D     &kp F     &kp G  
    &kp LSHIFT &kp Z    &kp X    &kp C     &kp V     &kp B  
                       &kp LCTRL &kp LALT &kp LGUI  &kp SPACE &kp RET
            >;
        };
    };
};